h3 {
  padding-bottom: 75px;
}

.game {
  display: none;
}

.col-sm-4 {
  border: solid black;
  padding: 40px;
  padding-bottom: 70px;
}

.jumbotron {
  text-align: center;
  margin-top: 20px;
}

.row {
  text-align: center;
}

.btn {
  margin-top: 15px;
  display: block;
  margin: auto;
  padding: 30px;
}

#player1-roll, #player2-roll {
  float: left;
  margin-left: 50px;
}

#player1-hold, #player2-hold {
  float: right;
  margin-right: 50px;
}

h4#p1RollTotal, h4#p2RollTotal {
  padding: 15px;
  margin-left: 40px;
  clear: both;
  float: left;
}

h4#p1TurnTotal, h4#p2TurnTotal {
  padding: 15px;
  margin-right: 40px;
  float: right;
}

h3#p1GameTotal, h3#p2GameTotal {
  padding: 15px;
  clear: both;
}
